## Check domains against business names
From two dataframes, check if the business name exists in the domain of a given email. Output True or False based on the result. The business name should have similar case and structure as the value to check.

In [2]:
import pandas
import re
from marketing_data_cleaning import DATA_FOLDER_PATH

In [3]:
df1 = pandas.read_csv(DATA_FOLDER_PATH / 's1.csv')
df2 = pandas.read_csv(DATA_FOLDER_PATH / 's2.csv')

Split de domain from each emails, lower the company names in order to start the comparision

In [4]:
def split_domain(value):
    _, domain = str(value).split('@', maxsplit=1)
        
    items = domain.split('.')
    if len(items) > 2:
        company = items[1]
    else:
        company = items[0]
    return company

df2['domains'] = df2['emails'].apply(split_domain)
df2.head()

                            emails    domains
0           s.longuet@accessite.eu  accessite
1           j.piaulet@accessite.eu  accessite
2          jb.wallois@accessite.eu  accessite
3        alexandre.dier@eu.aew.com        aew
4  margarida.decarvalho@eu.aew.com        aew

In [5]:
df1['companies'] = df1['companies'].map(lambda x: str(x).lower())

In [6]:
df1.head()

                          companies
0  3ns - negociations et signatures
1                         abault ie
2           accance sarl / carlance
3                          accesbtp
4                     accessite sas

In [7]:
result = df2['domains'].isin(df1['companies'])

In [9]:
df2['exists'] = result
df2[df2['exists'] == True]

                              emails      domains  exists
0             s.longuet@accessite.eu    accessite    True
1             j.piaulet@accessite.eu    accessite    True
2            jb.wallois@accessite.eu    accessite    True
3          alexandre.dier@eu.aew.com          aew    True
4    margarida.decarvalho@eu.aew.com          aew    True
..                               ...          ...     ...
294        PGARDAIRE@groupe-paul.com  groupe-paul    True
319              elodie.fel@bchef.fr        bchef    True
334      philippe.cebral@fiveguys.fr     fiveguys    True
357         ppoulain@groupe-paul.com  groupe-paul    True
358      louise_daspremont@picard.fr       picard    True

[70 rows x 3 columns]

In [94]:
# df2.to_csv(DATA_FOLDER_PATH / 'compared_dfs.csv', index=False)

In [95]:
# domains = pandas.DataFrame(df2['domains'].drop_duplicates(), columns=['domains'])
# domains.sort_values('domains', inplace=True)
# domains.to_csv(DATA_FOLDER_PATH / 'domains.csv', index=False)