In [1]:
import pandas
from marketing_data_cleaning import PROJECT_PATH

In [2]:
FILE = PROJECT_PATH / 'lefties_brands.json'

In [3]:
df = pandas.read_json(FILE)

In [4]:
df = df.rename(columns={0: 'brands'})

In [5]:
df = df.sort_values('brands')

In [6]:
df.head()

                                                 brands
1178                       2-Pack of Dragon Ball Boxers
338       2-Pack of printed Hello Kitty ©Sanrio pyjamas
716   2-pack of Looney Tunes © &™ Warner Bros pyjama...
343            2-pack of Snoopy Peanuts™ print T-shirts
712             2-pack of Spiderman ©Marvel pyjama sets

In [7]:
df.to_csv(PROJECT_PATH / 'lefties_brands.csv', index=False)