In [29]:
import pandas
import json
import re
from marketing_data_cleaning import PROJECT_PATH

## Fix the data in the file

In [30]:
f = open(PROJECT_PATH /
         "..\\google_comments\\google_comments\\media\\7afc31302f.json", encoding='utf-8')
data = json.load(f)
f.close()

In [31]:
comments = []
for item in data:
    for comment in item['comments']:
        comment['name'] = item['name']
        comment['url'] = item['url']
        comment['feed_url'] = item['feed_url']
        comment['address'] = item['address']
        comment['rating'] = comment['rating']
        comment['latitude'] = item['latitude']
        comment['longitude'] = item['longitude']
        comments.append(comment)

In [32]:
for comment in comments:
    text = comment['text']
    if text is None:
        continue
    tokens = text.split(' ')
    tokens = filter(lambda x: x != '', tokens)
    text = ' '.join(tokens)
    text = re.sub('\n', '', text)
    comment['text'] = text

In [33]:
df = pandas.DataFrame(comments)

In [34]:
df = df[['name', 'text', 'period', 'address', 'rating', 'latitude', 'longitude']]

In [35]:
df.head()

,name,text,period,address,rating,latitude,longitude
0,PAUL,Une salade Paul sans sauce Cesar ni assaisonne...,il y a 2 semaines Nouveau,Entrée près du dépose minute départ Gare St Ch...,1 etoile,50.6476038,3.0751395
1,PAUL,Ils meritent leur note minable et n'en tirent ...,il y a 2 semaines Nouveau,Entrée près du dépose minute départ Gare St Ch...,1 etoile,50.6476038,3.0751395
2,PAUL,None,il y a 3 semaines Nouveau,Entrée près du dépose minute départ Gare St Ch...,5 etoiles,50.6476038,3.0751395
3,PAUL,Skrinkflation : Sandwich au thon avec du thon ...,il y a un mois,Entrée près du dépose minute départ Gare St Ch...,1 etoile,50.6476038,3.0751395
4,PAUL,Je viens d'acheter un sable et en ouvrant le s...,il y a un mois,Entrée près du dépose minute départ Gare St Ch...,1 etoile,50.6476038,3.0751395

In [11]:
def parse_rating(value):
    if isinstance(value, (int, float)):
        return value
    
    if value is None:
        return value
    
    result = re.search('(\d+)', value)
    if result:
        return result.group(1)
    return value

df['rating'] = df['rating'].map(parse_rating)

In [12]:
df.to_csv('google_comments.csv', encoding='utf-8', index=False)