In [10]:
import pandas
import json
import re
from marketing_data_cleaning import PROJECT_PATH

## Fix the data in the file

In [11]:
f = open(PROJECT_PATH /
         "..\\google_comments\\google_comments\\media\\d3c0dffcf8.json", encoding='utf-8')
data = json.load(f)
f.close()

In [12]:
comments = []
for item in data:
    for comment in item['comments']:
        comment['name'] = item['name']
        comment['url'] = item['url']
        comment['feed_url'] = item['feed_url']
        comment['address'] = item['address']
        comment['rating'] = comment['rating']
        comment['latitude'] = item['latitude']
        comment['longitude'] = item['longitude']
        comments.append(comment)

In [13]:
for comment in comments:
    text = comment['text']
    if text is None:
        continue
    tokens = text.split(' ')
    tokens = filter(lambda x: x != '', tokens)
    text = ' '.join(tokens)
    text = re.sub('\n', '', text)
    comment['text'] = text

In [14]:
df = pandas.DataFrame(comments)

In [15]:
df = df[['name', 'text', 'period', 'address', 'rating', 'latitude', 'longitude']]

In [16]:
df.head()

,name,text,period,address,rating,latitude,longitude
0,Boulangeries Paul,"Tres, tres propre et tjr....disponible...Les v...",il y a un mois,"28 Av. de Paris, 95230 Soisy-sous-Montmorency",5 etoiles,48.8067265,2.2653039
1,Boulangeries Paul,Honteux de se faire affiche pour son caddie de...,il y a un mois,"28 Av. de Paris, 95230 Soisy-sous-Montmorency",2 etoiles,48.8067265,2.2653039
2,Boulangeries Paul,Nous venez chez Paul depuis des annees nous av...,il y a un mois,"28 Av. de Paris, 95230 Soisy-sous-Montmorency",1 etoile,48.8067265,2.2653039
3,Boulangeries Paul,2 baguettes achetees le 16.08.23 a 18h00. Il s...,il y a 2 mois,"28 Av. de Paris, 95230 Soisy-sous-Montmorency",1 etoile,48.8067265,2.2653039
4,Boulangeries Paul,None,il y a 2 mois,"28 Av. de Paris, 95230 Soisy-sous-Montmorency",1 etoile,48.8067265,2.2653039

In [17]:
def parse_rating(value):
    if isinstance(value, (int, float)):
        return value
    
    if value is None:
        return value
    
    result = re.search('(\d+)', value)
    if result:
        return result.group(1)
    return value

df['rating'] = df['rating'].map(parse_rating)

In [18]:
df.to_csv('google_comments.csv', encoding='utf-8', index=False)