In [17]:
import pandas

In [18]:
VALUES = [
    {'nom': 'Julie', 'prénom': 'Lopez', 'email': None},
    {'nom': 'Pierre', 'prénom': 'Magot', 'email': None}
]

In [19]:
df1 = pandas.DataFrame(VALUES)
df2 = pandas.DataFrame([{'nom': 'Julie', 'email': 'julie@gmail.com'}])

In [31]:
df1.mask(lambda x: x == 'Julie', 'Google')

      nom prénom email
0  Google  Lopez  None
1  Pierre  Magot  None