In [50]:
import pandas

In [51]:
VALUES = [
    {'nom': 'Julie', 'prénom': 'Lopez', 'email': None},
    {'nom': 'Pierre', 'prénom': 'Magot', 'email': None}
]

In [52]:
df1 = pandas.DataFrame(VALUES)
df2 = pandas.DataFrame([{'nom': 'Julie', 'email': 'julie@gmail.com'}])

In [62]:
def test(x):
    print(x['email'])
    return x
df1.transform(test)

0    None
1    None
Name: email, dtype: object

      nom prénom email
0   Julie  Lopez  None
1  Pierre  Magot  None