In [38]:
import pandas

In [39]:
df = pandas.DataFrame([{'a': 1, 'b': 3}, {'a': 45, 'b': 1}])

In [40]:
a = df[df['a'] == 1]

In [43]:
for x in a.iterrows():
    u, b = x
    df.iloc[u].a = 455

In [44]:
df

     a  b
0  455  3
1   45  1